
.choose-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}


.choose-left-section {
  flex: 2;
}

.choose-left-section p {
  font-size: 15px;
  margin-bottom: 12px;
  color: #444;
}


.choose-list {
  padding-left: 18px;
  margin: 15px 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 40px;

  color: #1581b9;
}

.choose-btn {
  margin-top: 15px;
  background: var(--red);
  color: #fff;
  border: 1px solid transparent;
  padding: 12px 24px;
  border-radius: 6px;
  font-family: "Figtree";
  transition: 0.3s ease;
}

.choose-btn:hover {
  background: #fff;
  color: var(--red);
  border-color: var(--red);
}

.right-section {
  flex: 1;
  text-align: center;
}

.right-section img {
  width: 100%;
  max-width: 350px;
  border-radius: 50%;
  object-fit: cover;
}

.mobile-img {
  display: none;
}


@media (max-width: 991px) {
  .choose-wrapper {
    flex-direction: column;
  }

  .right-section {
    display: none; 
  }

  .mobile-img {
    display: block;
    text-align: center;
    margin: 15px 0;
  }

  .mobile-img img {
    width: 70%;
    max-width: 250px;
    border-radius: 50%;
  }

  .choose-left-section {
    text-align: center;
  }

 .choose-list {
    grid-template-columns: repeat(2, 1fr);  
    column-gap: 60px;
  }

  .choose-btn {
    width: 100%;
  }
}