.location {
  /* background: #f5f5f5; */
}

.location-wrapper {
  position: relative;
  margin-top: 30px;
}


.location-card {
  width: 100%; 
  border-radius: 14px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.location-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}


.location-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.location-bottom p {
  margin: 0;
  font-size: 17px;
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
}

.location-bottom span {
  color: var(--red);
  display: flex;
  align-items: center;
}


.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  background-color: #fff0f0;
  border: 1px solid #2424241a;
  border-radius: 50%;
  box-shadow: 0 4px 20px #0000001a;

  padding: 10px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-btn.left {
  left: -20px;
}

.nav-btn.right {
  right: -20px;
}


@media (max-width: 992px) {
  .nav-btn.left {
    left: 0;
  }

  .nav-btn.right {
    right: 0;
  }
}

@media (max-width: 768px) {
   .nav-btn.left {
    left: -15px;
  }

  .nav-btn.right {
    right: -15px;
  }

  .location-card img {
    height: 220px;
  }

  .location-bottom p {
    font-size: 15px;
  }
}