.footer {
  background-color: var(--blue-color);
  color: #fff;
}

.footer-left {
   font-family: 'Figtree';
font-weight: 400;
  font-size: 15px;
  color: #fff;
}

.footer-right a {
  text-decoration: none;
  color: #fff;
   font-family: 'Figtree';
font-weight: 400;
  font-size: 15px;
  text-align: end;
}

.footer-right span {
  color: #fff;
}


@media (max-width: 768px) {
 

  .footer-left,
  .footer-right a {
    font-size: 15px;
  }
}