.banner {
  min-height: 490px;

  background:
    url("../../assets/images/banner.webp") no-repeat right bottom,
    linear-gradient(90deg, #eaf7ff 0%, #f8fcff 50%, #edf8ff 100%);

  background-size: cover;

  display: flex;
  align-items: flex-end;
  padding-bottom: 60px;
}

.banner-content {
  max-width: 520px;
}

.banner-content h1 {
  font-family: 'Figtree';
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--black);
  margin-bottom: 15px;
}

.banner-content span {
  color: var(--red);
}

.banner-content p {
  font-size: 18px;
  margin-bottom: 20px;
}


.banner-content button {
  background: var(--red);
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-family: 'Figtree';
  font-weight: 500;
}


@media (max-width: 768px) {

  .banner {
    min-height: 420px;
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
     transform: scaleX(-1);
  
  }

  .banner-content {
    margin: 0 auto;
    transform: scaleX(-1)
  }

  .banner-content h1 {
    font-size: 32px;
  }

  .banner-content p {
    font-size: 16px;
  }

  .banner-content button {
    width: 100%;
  }
}


