.center {
  /* background: #f4f4f4; */
}





.center-desc {
  max-width: 750px;
  font-family: 'Figtree';
font-size: 15px;
  padding: 0px 0px 20px 0;
 margin: 0 auto;
  color: #242424;;
  line-height: 1.6;
}

.center-item img {
  height: 45px;
  margin-bottom: 15px;

}

.center-item h4 {
  font-size: 18px;
  font-weight: 700;
  /* line-height: 1.4; */
  /* text-align: left; */
}

.center-item {
  text-align: left;
}

@media (max-width: 992px) {
 

}

@media (max-width: 768px) {
  .center-item h4 {
    font-size: 15px;
  }




  .center-item img {
    height: 35px;
  }
  .center-item {
  text-align: center;
}
}